.page-post {
  margin-top: 80px;
  > .post {
    > h1.title {
      font-size: 1.5em;
      > .pubdate {
        display: inline-block;
        font-size: 0.6em;
        font-weight: normal;
      }
    }
    > .body {
      margin-top: 30px;
      > h2 {
        font-size: 1em;
        margin: 30px 0;
      }
      > p {
        margin: 10px 0 0 0;
      }
      > ol {
        margin: 10px 0 0 45px;
      }
      img {
        display: block;
        margin: 30px 0 30px 0;
        &:first-child {
          float: right;
          margin: 0 0 4px 10px;
        }
      }
    }
  }
}