/* Color palette from http://www.colourlovers.com/palette/1533081/grey */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  color: #655f63;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
} 
textarea, input, select {
  font-family: inherit;
}

* {
  margin: 0;
  padding: 0;
}

.clear {
  display: block;
  height: 15px;
}

#wrapper {
  width: 900px;
  margin: 0 auto;
  position: relative;
}

#header {
  height: 170px;
}

#content {
  background: #fff;
  box-shadow: 0 0 2px;
  border-radius: 5px;
  width: 898px;
}

#content-elements {
  margin: 30px 30px 30px 30px;
}

#logo {
  font-size: 2em;
  font-weight: bold;
  float: left;
  padding: 15px  0px 0px 0px;
}

#logo a {
  color: #655f63;
}

#logo span {
  color: #BDAFAC;
  font-weight: normal;
  font-size: 0.6em;
  font-style: italic;
}

#logo a:hover {
  text-decoration: none;
}

#desc {
  font-size: 0.6em;
  font-style: italic;
  float: left;
  width: 300px;
  margin: 20px 0 0 10px;
}

#manage-menu {
  background-color: #655f63;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0 0 2px;
  font-size: 0.5em;
  float: right;
  padding: 5px 8px;
}

#manage-menu ul {
  display: inline;
}

#manage-menu li {
  background: url("/images/nav.png") no-repeat scroll right 50% transparent;
  color: #fff;
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 1px 6px 0 10px;
}

#manage-menu li.first {
  padding: 1px 6px 0 4px;
}

#manage-menu li.last {
  background: none;
}

#pages-menu {
  background: #655f63;
  border-radius: 5px;
  box-shadow: 0 0 2px;
  float: left;
  clear: both;
  width: 890px;
  margin: 30px 0 10px 0;
  padding: 10px 10px 10px 0;
}

#pages-menu ul {
  display: inline;
  margin: 0 0 0 30px;
}

#pages-menu li {
  background: url("/images/nav2.png") no-repeat scroll right 50% transparent;
  color: #fff;
  display: inline;
  list-style-type: none;
  font-size: 0.7em;
  font-weight: bold;
  margin: 0;
  padding: 1px 12px 0 14px;
}

#pages-menu li.first {
  padding: 1px 12px 0 4px;
}

#pages-menu li.last {
  background: none;
}

#search {
  float: right;
}

#search input {
  border: 1px solid #bdafac;
  border-radius: 5px;
  font-size: 0.7em;
  padding: 3px;
  margin: 0 8px 0 0;
}

#pagination {
  margin: 60px 0 30px 0;
}

#pagination .current-page a {
  background-color: #655f63;
  color: #fff;
  border-radius: 5px 5px 5px 5px;
  text-decoration: none;
  padding: 0px 4px 0 4px;
}

#pagination ul {
  display: inline;
}

#pagination li {
  display: inline;
  font-size: 0.7em;
  list-style-type: none;
  padding: 0 4px 0 4px;
}

#pagination a {
  color: #655f63;
  padding: 0px 4px 0 4px;
}

#pagination a:hover {
  background-color: #655f63;
  color: #fff;
  border-radius: 5px 5px 5px 5px;
  text-decoration: none;
  padding: 0px 4px 0 4px;
}

#wmd-input {
  width: 808px;
  height: 150px;
  min-height: 150px;
  padding: 15px;
}

#wmd-preview {
  background: #fff;
  border: 1px dashed #bdafac;
  border-radius: 5px;
  min-height: 100px;
  padding: 15px;
  font-size: 0.7em;
}

#wmd-preview p:first-child img:first-child {
  float: left;
  margin: 0 10px 4px 0;
}

#wmd-preview img {
  margin: 30px 0 30px 30px;
}

#wmd-preview ol {
  margin: 10px 0 0 50px;
}

#footer {
  height: 30px;
  font-size: 0.6em;
  margin: 60px 0 30px 0;
}

#footer img, #footer span {
  vertical-align: middle;
}

#footer a.feedburner {
  float: right;
  border-bottom: none;
}

#login-form label {
  font-size: 0.7em;
  font-weight: bold;
}

#login, #password {
  border: 1px solid #bdafac;
  border-radius: 5px;
  width: 210px;
  padding: 3px;
}

#login:focus, #password:focus {
  background-color: #f6f2ef;
}

.login-form-buttons {
  margin: 30px 0 30px 0;
}

.login-form-buttons a {
  color: #655f63;
  font-size: 0.7em;
}

.post {
  margin: 0 0 30px 0;
}

h1.post-title {
  font-size: 1.7em;
  font-weight: bold;
  margin: 0 0 25px 0;
}

.post-title a {
  color: #655f63;
}

.post-info {
  color: #bdafac;
  font-size: 0.6em; 
  border-bottom: 1px dashed;
  margin: 0 0 30px 0;
  padding: 0 0 5px 0;
}

.read-more {
  text-align: right;
  margin: 20px 0 70px 0;
}

.read-more a {
  color: #655f63;
  font-size: 0.6em; 
  font-weight: bold;
}

.post-preface {
  min-height: 180px;
}

.post-preface p:first-child img:first-child {
  float: left;
  margin: 0 10px 4px 0;
}

.post-content {
  color: #655f63;
  font-size: 0.7em; 
}

.post-content img {
  margin: 30px 0 30px 30px;
}

.post-content a, .post-comments a, #wmd-preview a, #footer a, #disqus_thread a {
  color: #655fc8;
  font-weight: bold;
  border-bottom: 1px dotted;
}

.post-content a:hover, #wmd-preview a:hover, #footer a:hover  {
  text-decoration: none;
}

.post-content h2, h3, h4, h5, h6, #wmd-preview h2, h3, h4, h5, h6  {
  margin: 30px 0 30px 0;
}

.post-content p, #wmd-preview p {
  margin: 10px 0 0 0;
}

.post-content ol, .post-content ul, #wmd-preview ol, #wmd-preview ul  {
  margin: 10px 0 0 45px;
}

.post-form-top {
  padding: 0 0 30px 0;
}

.post-form-top input {
  border: 1px solid #bdafac;
  border-radius: 5px;
  width: 100%;
  padding: 3px;
}

.post-form-top input:focus, .post-form textarea:focus {
  background-color: #f6f2ef;
}

.post-form-top label {
  font-weight: bold;
  font-size: 0.7em;
}

.post-form-top-left {
  float: left;
  width: 401px;
  margin: 0 15px 30px 0;
}

.post-form-top-right {
  float: left;
  width: 401px;
  margin: 0 0 30px 15px ;
}

.tag-link {
  color:#fff;
  background-color: #bdafac;
  border-radius: 5px;
  font-style: normal;
  padding: 0 5px 0 5px;
}

.tag-link:hover {
  background-color: #655f63;
  text-decoration: none;
}

.tag-links a {
  font-size: 0.6em;
}

.post-form-bottom {
  margin: 0 0 30px 0;
}

.post-form-bottom textarea {
  border: 1px solid #bdafac;
  border-radius: 5px;
}

.post-form-buttons {
  margin: 60px 0 60px 0;
}

.post-form-buttons a {
  color: #655f63;
  font-size: 0.7em;
}

.tag-posts, .search-posts {
  background-color: #f6f2ef;
  border: 1px dashed #bdafac;
  border-radius: 5px;
  font-style: italic;
  text-align: center;
  margin: 0 0 30px 0;
  padding: 5px;
}

.manage-posts {
  font-size: 0.7em;
  line-height: 4em;
  border-collapse: collapse;
  width: 100%;
  margin: 0 30px 30px 0;
}

.manage-posts .table-header {
  text-align: left;
}

.manage-posts tr {
  border-bottom: 1px dashed #bdafac;
}

.manage-posts a {
  color: #655f63;
}

.button {
  color:#fff;
  background-color: #bdafac;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.button:hover {
  background-color: #726d74;
}

.field_with_errors label {
  color: red;
}

.field_with_errors input, .field_with_errors textarea {
  box-shadow: 0 0 2px red;
}

#disqus_thread {
  border-top: 1px dashed #bdafac;
  margin: 30px 0px 0px 0px;
}
