/* Color palette from http://www.colourlovers.com/palette/1533081/grey */
body {
  font-family: Serif, Helvetica, Arial, sans-serif;
  font-size: 1.6em;
  color: #655f63;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

textarea, input, select {
  font-size: 0.7em;
  font-family: inherit;
}

blockquote {
  font-style: italic;
  font-weight: bold;
  border-left: 1px solid;
  margin: 30px 30px 30px 30px;
  padding: 15px 15px 25px 15px;
}

* {
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 900px;
  margin: 0 auto;
  position: relative;
}

#header {
  height: 185px;
}

#content {
  background: #fff;
  border-radius: 5px;
  width: 898px;
}

#content-elements {
  margin: 30px 30px 30px 30px;
}

#logo {
  font-size: 2em;
  font-weight: bold;
  float: left;
  padding: 30px 0 0 0;
}

#logo a {
  color: #655f63;
}

#logo span {
  color: #BDAFAC;
  font-weight: normal;
  font-size: 0.6em;
  font-style: italic;
}

#logo a:hover {
  text-decoration: none;
}

#logo .last-tweet {
  background: url('/images/twitter.ico') no-repeat scroll left 50% transparent;
  font-size: 0.35em;
  font-weight: normal;
  font-style: italic;
  padding: 0 0 0 20px;
  margin: 0 0 0 30px;
}

#logo .last-tweet a {
  color: #655fc8;
}

#logo .last-tweet a:hover {
  text-decoration: underline;
}

#desc {
  font-size: 0.6em;
  font-style: italic;
  float: left;
  width: 300px;
  margin: 20px 0 0 10px;
}

#manage-menu {
  background-color: #655f63;
  border-radius: 0 0 5px 5px;
  font-size: 0.5em;
  float: right;
  padding: 5px 8px;
}

#manage-menu ul {
  display: inline;
}

#manage-menu li {
  background: url("/images/nav.png") no-repeat scroll right 50% transparent;
  color: #fff;
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 1px 6px 0 10px;
}

#manage-menu li.first {
  padding: 1px 6px 0 4px;
}

#manage-menu li.last {
  background: none;
}

#pages-menu {
  background: #655f63;
  border-radius: 5px;
  float: left;
  clear: both;
  width: 890px;
  margin: 15px 0 10px 0;
  padding: 10px 10px 10px 0;
}

#pages-menu ul {
  display: inline;
  margin: 0 0 0 30px;
}

#pages-menu li {
  background: url("/images/nav2.png") no-repeat scroll right 50% transparent;
  color: #fff;
  display: inline;
  list-style-type: none;
  font-size: 0.7em;
  font-weight: bold;
  margin: 0;
  padding: 1px 12px 0 14px;
}

#pages-menu li.first {
  padding: 1px 12px 0 4px;
}

#pages-menu li.last {
  background: none;
}

#search {
  float: right;
}

#search input {
  border: 1px solid #bdafac;
  border-radius: 5px;
  font-size: 0.7em;
  padding: 3px;
  margin: 0 8px 0 0;
}

nav.pagination {
  color: #655F63;
  text-align: center;
  margin: 0 0 30px 0;
}

nav.pagination span a {
  color: #655FC8;
  padding: 0 4px 0 4px;
}
nav.pagination span.current {
  padding: 0 4px 0 4px;
}

nav.pagination span.prev {
  margin: 0 15px 0 0;
}

nav.pagination span.next {
  margin: 0 0 0 15px;
}

nav.pagination span.gap {
  color: #655FC8;
}

#wmd-input {
  width: 808px;
  height: 150px;
  min-height: 150px;
  padding: 15px;
}

#wmd-preview {
  background: #fff;
  border: 1px dashed #bdafac;
  border-radius: 5px;
  min-height: 100px;
  padding: 15px;
  font-size: 0.7em;
}

#wmd-preview p:first-child img:first-child {
  float: left;
  margin: 0 10px 4px 0;
}

#wmd-preview img {
  margin: 30px 0 30px 30px;
}

#wmd-preview ol {
  margin: 10px 0 0 50px;
}

#footer {
  clear: both;
  height: 30px;
  font-size: 0.6em;
  margin: 60px 0 30px 0;
}

#footer img, #footer span {
  vertical-align: middle;
}

#login-link {
  color: #655f63;
  float: right;
  font-size: 0.6em;
  margin: 5px 0 0 0;
}

#login-form-modal {
  display: none;
  position: absolute;
  right: 0px;
  top: 25px;
  z-index: 10001;
  background-color: #fff;
  width: 219px;
  border: 5px solid #bdafac;
  border-radius: 15px 0 15px 15px;
  padding: 15px 15px 0px 15px;
  box-shadow: 5px 5px 5px 0 #655f63;
  -webkit-box-shadow: 5px 5px 5px 0 #655f63;
  -moz-box-shadow: 5px 5px 5px 0 #655f63;
}

#login-form label, #login-form-modal label {
  font-size: 0.7em;
  font-weight: bold;
}

#login, #password {
  border: 1px solid #bdafac;
  border-radius: 5px;
  width: 210px;
  padding: 3px;
}

#login:focus, #password:focus {
  background-color: #f6f2ef;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  display: block;
  height: 15px;
  clear: both;
}

.form-top {
  padding: 0 0 30px 0;
}

.form-top input, .form-top textarea {
  border: 1px solid #bdafac;
  border-radius: 5px;
  width: 100%;
  padding: 3px;
}

.form-top input:focus, .form textarea:focus {
  background-color: #f6f2ef;
}

.form-top label {
  font-weight: bold;
  font-size: 0.7em;
}

.form-top-left {
  float: left;
  width: 401px;
  margin: 0 15px 30px 0;
}

.form-top-right {
  float: left;
  width: 401px;
  margin: 0 0 30px 15px ;
}

.form-bottom {
  margin: 0 0 30px 0;
}

.form-bottom textarea {
  border: 1px solid #bdafac;
  border-radius: 5px;
}

.form-buttons {
  clear: both;
  margin: 60px 0 60px 0;
}

.form-buttons a {
  color: #655f63;
  font-size: 0.7em;
}

.login-form-buttons {
  margin: 30px 0 30px 0;
}

.login-form-buttons a {
  color: #655f63;
  font-size: 0.7em;
}

.post {
  margin: 0 0 70px 0;
}

.post h1 {
  margin: 0 0 5px 0;
}

.post h1 a, .project h1 a {
  color: #655f63;
}

.post h1 a:hover, .project h1 a:hover {
  color: #bdafac;
  text-decoration: none;
}

.post-info {
  color: #bdafac;
  font-size: 0.6em; 
  border-top: 1px dashed;
  margin: 0 0 30px 0;
  padding: 10px 0 5px 0;
}

.read-more {
  text-align: left;
  margin: 20px 0 70px 0;
}

.read-more a {
  font-size: 0.6em; 
  font-weight: bold;
  color:#fff;
  background-color: #bdafac;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.read-more a:hover {
  background-color: #726d74;
  text-decoration: none;
}

.post-preface p:first-child img:first-child {
  float: left;
  margin: 0 10px 4px 0;
}

.post-content {
  color: #655f63;
  font-size: 0.7em; 
}

.post-content img {
  margin: 30px 0 30px 30px;
}

.post-content a, .post-comments a, #wmd-preview a, #footer a, 
.project-links a, .about a, .activity a {
  color: #655fc8;
}

.post-content h2, h3, h4, h5, h6, #wmd-preview h2, h3, h4, h5, h6  {
  margin: 30px 0 30px 0;
}

.post-content p, #wmd-preview p {
  margin: 10px 0 0 0;
}

.post-content ol, .post-content ul, #wmd-preview ol, #wmd-preview ul  {
  margin: 10px 0 0 45px;
}

.tag-link {
  color:#fff;
  background-color: #bdafac;
  border-radius: 5px;
  font-style: normal;
  padding: 0 5px 0 5px;
}

.tag-link:hover {
  background-color: #655f63;
  text-decoration: none;
}

.tag-links a {
  font-size: 0.6em;
}

.tag-posts, .search-posts {
  background-color: #f6f2ef;
  border: 1px dashed #bdafac;
  border-radius: 5px;
  font-style: italic;
  text-align: center;
  margin: 0 0 30px 0;
  padding: 5px;
}

.manage-tabs {
  z-index: 1;
  border-bottom: 1px solid #bdafac;
  font-size: 0.7em;
  margin: 30px 0 30px 0;
  height: 1.54em;
  text-align: right;
}

.manage-tabs a:hover {
  text-decoration: none;
}

.manage-tabs ul {
  display: inline;
}

.manage-tabs ul li {
  background-color: #bdafac;
  display: inline;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  margin: 0 3px 0 3px;
  padding: 5px 25px 5px 25px;
  list-style-type: none;
}

.manage-tabs ul li:hover, .manage-tabs ul li.current {
  background-color: #726d74;
  padding-top: 10px;
}

.manage-items {
  font-size: 0.7em;
  line-height: 4em;
  border-collapse: collapse;
  width: 100%;
  margin: 0 30px 30px 0;
}

.manage-items .table-header {
  text-align: left;
}

.manage-items tr {
  border-bottom: 1px dashed #bdafac;
}

.manage-items tr td {
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 5px 0 15px;
}

.manage-items a {
  color: #655f63;
}

.manage-actions {
  margin: 15px 0 15px 0;
}

.button {
  font-size: 15px;
  color: #fff;
  background-color: #bdafac;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.button:hover {
  background-color: #726d74;
}

a.button {
  font-size: 0.6em;
}

a.button:hover {
  text-decoration: none;
}

.field_with_errors label {
  color: red;
}

.field_with_errors input, .field_with_errors textarea {
  border: 1px solid red;
}

.project {
  margin: 0 0 60px 0;
  min-height: 240px;
}

.project-thumb {
  position: absolute;
}

.project-info {
  margin: 0 0 0 270px;
}

.project-info h1 {
  margin: 0 0 15px 0;
}

.project-info p {
  font-size: 0.7em;
  margin: 0 0 15px 0;
}

.about {
  font-size: 0.7em;
}

.avatar img {
  position: absolute;
  box-shadow: 0px 0px 5px #655F63;
  -webkit-box-shadow: 0px 0px 5px #655F63;
}

.about-info {
  font-size: 1em;
  font-style: italic;
  min-height: 280px;
  margin: 0 0 0 350px;
  padding: 35px 0 0 0;
}

.about-info p {
  margin: 0 0 15px 0;
}

.activity {
  min-height: 260px;
  font-size: 0.8em;
  margin: 30px 0 0 0;
}

.recently-items {
  width: 380px;
}

.recently-items h3 {
  border-bottom: 1px dashed #bdafac;
  padding: 0 0 15px 0;
}

.recently-items ol {
  margin: 0 0 60px 40px;
}

.recently-items ol li.last {
  margin: 25px 0 0 0;
  font-style: italic;
  list-style-type: none;
}

.addthis_bar {
  position: fixed;
  top: -300px;
  background-image: none;
  background-color: #655f63;
  font-family: Serif, Helvetica, Arial, sans-serif;
  font-size: 16px !important;
  left: -271px;
}

.addthis_bar.addthis_bar_medium .at-floatingbar-share {
  width: 570px;
}

.addthis_bar.addthis_bar_medium .at-floatingbar-close {
  display: none;
}
