body {
  font-family: tahoma;
  font-size: 0.9em;
  color: #655f63;
}

a {
  color: #655f63;
  text-decoration: none;
  &[role] {
    border-bottom: 1px dashed;
    &:hover {
      border-bottom: none;
    }
  }
  &.login, &.logout {
    position: absolute;
    top: 0;
    right: 0;
  }
}

textarea, input, select {
  font-size: 0.7em;
  font-family: inherit;
}

blockquote {
  font-style: italic;
  font-weight: bold;
  border-left: 1px solid;
  margin: 30px 30px 30px 30px;
  padding: 15px 15px 25px 15px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  display: block;
  clear: both;
}

* {
  margin: 0;
  padding: 0;
}

.layout {
  width: 900px;
  margin: 0 auto;
  position: relative;
  > .logo {
    font-size: 4em;
    font-family: 'Allura', cursive;
    font-weight: bold;
    float: left;
    a {
      color: #dd4d42;
    }
    span {
      color: #655f63;
      font-weight: normal;
      font-size: 0.6em;
      font-style: italic;  
    }
  }
  > .content {
    background: #fff;
    margin: 30px 0 0 280px;
    a {
      text-decoration: none;
      color: #dd4d42;
      &:hover{
        background-color: #dd4d42;
        color: #fff;
      }
    }
  }
  > .footer {
    clear: both;
    height: 30px;
    margin: 60px 0 30px 0;
    > .copyright {
      display: inline-block;
      vertical-align: middle;
    }
    img {
      vertical-align: middle;
    }
  }
}

.login-form-buttons {
  margin: 30px 0 30px 0;
}

.login-form-buttons a {
  color: #655f63;
  font-size: 0.7em;
}

.button {
  font-size: 15px;
  color: #fff;
  background-color: #bdafac;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.button:hover {
  background-color: #726d74;
}

a.button {
  font-size: 0.6em;
}

a.button:hover {
  text-decoration: none;
}