#header
  #logo
    = link_to_unless current_page?(root_url),
                     'Rezvanov<span>.info</span>'.html_safe,
                     root_path

  - unless current_user
    = link_to t('.login'), login_path, :id => 'login-link', :role => 'login'

  - if current_user
    = render :partial => 'shared/manage_menu'
  
  #pages-menu
    ul
      li
        = link_to_unless current_page?(root_path), t('.home'), root_path
      li
        = link_to_unless current_page?(posts_path), t('common.posts'),
                         posts_path
      li
        = link_to_unless current_page?(projects_path), t('common.projects'),
                         projects_path

    #search
      = form_tag searches_index_path, :method => :get do
        = search_field_tag :query, params[:query],
                           :placeholder => t('common.search')