#manage-menu
  ul
    li.first
      | #{t('common.add')} 
      = link_to_unless current_page?(new_admin_post_path), t('.new_post'),
                       new_admin_post_path
      |  #{t('.or')} 
      = link_to_unless current_page?(new_admin_project_path), t('.new_project'),
                       new_admin_project_path
    li
      = link_to_unless current_page?(admin_posts_path), t('.admin'),
                       admin_posts_path
    li.last
      = link_to_unless current_page?(logout_path), t('.logout'), logout_path