- content_for :title, title(t('head.title.new_tag'))

.form
  = form_for [:admin, @tag] do |form|
    = render :partial => 'form', :locals => {:form => form}
    .form-buttons
      = form.submit t('common.add'), :class => 'button'
      = link_to t('common.back'), :back