.form-top
  .form-top-left
    p = form.label :title, t('common.title')
    p = form.text_field :title, :autofocus => true
    p = form.label :description, t('.description')
    p = form.text_area :description

  .form-top-right
    p = form.label :screenshot, t('.screenshot')
    - if @project.screenshot.present?
      = image_tag @project.screenshot.thumb.url
    p = form.file_field :screenshot
    br
    p = form.label :production_url, t('.production_url')
    p = form.text_field :production_url
    p = form.label :source_url, t('.source_url')
    p = form.text_field :source_url