<% content_for :title, title("#{t('head.title.edit')} '#{@project.title}'")  %>

<div class="form">
  <%= form_for [ :admin, @project ] do |form| %>
    <%= render :partial => 'form', :locals => { :form => form } %>

    <div class="form-buttons">
      <%= form.submit t('common.save'), :class => 'button' %>
      <%= link_to t('common.back'), :back %>
    </div>
  <% end %>
</div>
