<% content_for :title, title("#{t('head.title.tag')} '#{@tag.name}'") %>

<div class="tag-posts">
  <%= t('.tag_posts') + ' ' %>"<b><%= @tag.name %></b>" (<%= t('common.count') + ' ' + @posts.count.to_s %>)
</div>

<%= render @posts %>
