<% content_for :title, [t('head.title.search'), t(:title)].join(' - ') %>

<div class="search-posts">
  <%= t('.search_posts') + ' ' %>"<b><%= params[:query] %></b>" (<%= t('.count') + ' ' + @posts.count.to_s %>)
</div>

<%= render @posts %>
