<% unless @posts.total_pages == 1 %>
  <ul>
    <% current_page = 'class="current-page"'.html_safe %>
    <% for page in 1..@posts.total_pages %>
      <li <%= current_page if page == @posts.current_page %>>
        <%= link_to page, params.merge(:page => page) %>
      </li>
    <% end %>
  </ul>
<% end %>
