<% content_for :title, title("'#{@post.title}'") %>

<% content_for :javascripts do %>
  <script type="text/javascript">
    var addthis_config = { bar_show_below : 150 }
    $.getScript('http://s7.addthis.com/js/300/addthis_widget.js')
  </script>
<% end %>

<div class="addthis_bar addthis_bar_medium">
  <label><%= t('.share') %></label>
  <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
    <% (1..4).each do |i| %>
      <span><a class="addthis_button_preferred_<%= i.to_s %>"></a></span>
    <% end %>
    <span><a class="addthis_button_compact"></a></span>
    <span><a class="addthis_counter addthis_bubble_style"></a></span>
  </div>
</div>

<%= render @post %>
