#pages-menu {
  background: #655f63;
  border-radius: 5px;
  float: left;
  clear: both;
  width: 890px;
  margin: 15px 0 10px 0;
  padding: 10px 10px 10px 0;
  > ul {
    display: inline-block;
    margin: 0 0 0 30px;
    > li {
      background: image-url('nav2.png') no-repeat scroll right 50% transparent;
      color: #fff;
      display: inline-block;
      list-style-type: none;
      font-size: 0.7em;
      font-weight: bold;
      margin: 0;
      padding: 0 12px 0 14px;
      &:first-child {
        padding: 0 12px 0 4px;
      }
      &:last-child {
        background: none;
      }
      > a {
        line-height: 34px;
      }
      > .social-profile-links {
        > a {
          &:hover {
            text-decoration: none;
          }
          > img {
            vertical-align: middle;
          }
        }
      }
    }
  }
}
