<div class="form-top">
  <div class="form-top-left">
    <p><%= form.label :name, t('common.name') %></p>
    <p><%= form.text_field :name, :autofocus => true %></p>
  </div>
</div>

<div class="form-bottom">
  <%= form.text_area :body, :id => 'wmd-input' %>
</div>
